@charset "UTF-8";

 /* ________Geral________ */

 * {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
 }

 body {
    background-color: black;
    width: 100%;
 }


/*_________efeito scrollrevealjs____________*/

.area-1, .area-2, .hico {
    visibility: hidden;
}



 /*________ Header, navegação_________ */

.navbar {
    z-index: 1000; /* Aumente o valor do z-index, se necessário, para garantir que o menu esteja acima de outros elementos. */
    background: linear-gradient(to left, #0f0f46cb,  black,  transparent, transparent,  #0f0f46);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    display: flex;
    gap: 20%;
    width: 100%;
    border: 1px solid #80bbff86;
    margin: auto;
    top: 0;
}

.navbar h2 {
    color:  #ffffff;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    
 }

 .navbar a {
    text-decoration: none;
    padding: 15px;
 }

 .navbar a:hover {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.7s;
    color: #80bbff;
 }

 header .menu-toggle {
    display: none;
}


 /* _________HOME_______________ */

 section#home {
    background: linear-gradient(to right,  #0f0f467b, black, transparent);
    white-space: nowrap;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid #80bbff27;
    padding-bottom: 5%;
}
    
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    font-size: 2.9rem;
    text-align: left;
    padding: 20px;
}

.text-content p {
    margin-bottom: 10px;
}

div#icones {
    border: 2px solid  #80bbff;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

#icones i {
    color: #b7d4f6;
}

#icones i:hover {
    padding: 2px;
    transition: 0.5s;
    color: #80bbff;
    cursor: pointer;
}

#imagem-content img {
    max-width: 88%;
    padding-top: 20%;
    padding-left: 20%;
}

/*______SOBRE MIM ___________*/


section#about {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 10%;
    width: 100%;
}

#background-video  {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-container {
    position: relative;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    padding: 0;
    padding-top: 0;
    max-width: 600px;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
}

#about-container h2{
    background-color:  #b7d4f6;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

#about-container p {
    color: black;
    padding: 20px;
    font-weight: 200px;
    text-indent: 20px;
    text-align: justify;
    background-color: white;
}


/*_________PROJECTS____________*/

section#project {
    background: linear-gradient(to top,  #0f0f4660, black, transparent);
    padding: 20px;
    max-width: 100%;

}

section#project h2 {
    background-color: #80bbff;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

section#project p {
    text-align: center;
    font-size: 11px;
}

.project-container {
    padding: 10px;
    width: 90%;
    margin: auto;
}

.cont img {
    border: 1px solid #b7d4f6;
    justify-content: center;
    margin: auto;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
}

.cont img:hover {
    border: 3px solid white;
}

.cont p {
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: #0f0f46;
    width: 400px;
    margin: auto;
    border: 1px solid #80bbff;
}

.cont p a {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1rem;
}

.cont p a:hover {
    text-decoration: underline;
}

button {
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #80bbff;
    width: 20%;
    padding: 5px;
    color: black;
    margin: auto;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #80bbff;
}

button i {
    color: white;
}

/*_______Habilidades_________*/

section#skills {
    padding: 20px;
    background-color:;
    display: grid;
    width: 100%;
    background: linear-gradient(to bottom, black, #0f0f46);
    border: 1px solid #80bbff82;
}

#skills h2 {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    border-bottom: 1px solid #80bbff82;
}

.hico {
    width: 100%;
    font-size: 5rem;
    display: flex;
    padding-top: 50px;
}


.hico i {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.hico img {
    width: 100px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
}


/*__________Contato__________*/

section#contact {
    background: linear-gradient(to top, black, #0f0f46);
    padding: 0px;
    width: 100%;
    margin: auto;
}

#contact h2 {
    text-align: center;
    padding: 20px;
    padding-top: 100px;
}

.contact-form input {
    display: flex;
    width: 50%;
    padding: 8px 0px;
    margin: auto;
    color: black;
    
}

.contact-form input[type=text] {
    height: 100px;
    margin-bottom: 20px;
}

.contact-form button {
    border: none;
    color: white;
    border: 1px solid #b7d4f6;
    margin-bottom: 50px;
}

.contact-form p {
    width: 50%;
    padding: 8px 0px;
    margin: auto;
}


/*__________Rodape_____________*/

footer {
    
    position: fixed;
    text-align: center;
    background-color: black;
    color: #b7d4f6;
    padding: 5px;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    border: 1px solid #b7d4f6;
    z-index: 1000; /* Aumente o valor do z-index, se necessário, para garantir que o menu esteja acima de outros elementos. */
}


/*__________Media query_________*/

@media (max-width: 768px) {

/*inicio*/
#imagem-content img {
    display: none;
}

/*Home*/
.text-content {
    font-size: 1.5rem;
    text-align: left;
    padding: 40px;
}

.text-content p {
    margin-bottom: 10px;
}

div#icones {
    border: 2px solid  #80bbff;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

/*menu*/
.navbar ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 65%;
    width: 130px;
    background: rgba(0, 0, 0, 0.944);
    border: 1px solid #80bbff;
    flex-direction: column;
}

.navbar li {
    text-align: center;
    padding: 5px;
    white-space: nowrap;
}

.navbar ul.show-menu {
    display: flex;
}

.navbar .menu-toggle {
    display: block; 
    position: fixed;
    padding-left: 70%;
}


/*projetos*/   
.cont img {
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.cont p {
    text-align: center;
    width: 300px;
}


}