@charset "UTF-8";

 /* ________Geral________ */

 * {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
 }

 body {
    background-color: black;
    width: 100%;
 }

 /*________ Header, navegação_________ */

.navbar {
    background: linear-gradient(to left, #6500008a,  black,  transparent, transparent, #390a0a);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    display: flex;
    gap: 20%;
    width: 100%;
    border: 1px solid #ffffff6b;
    margin: auto;
    top: 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    
 }

 .navbar a {
    text-decoration: none;
    padding: 15px;
 }

 .navbar a:hover {
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.5s;
 }
 
 /* _________HOME_______________ */

 section#home {
    background: linear-gradient(to right, #3b0c0c9a, black, transparent);
    white-space: nowrap;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 100%;
}
    
    .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    font-size: 2.9rem;
    text-align: left;
    padding: 20px;

}

#imagem-content img {
    max-width: 88%;
    padding-top: 20%;
    padding-left: 20%;
    
}